{{#page-wrapper id='wrapper'}}
  <!-- preloader -->
  <div id="preloader">
    <div id="spinner"><img src="images/preloader.gif" alt=""></div>
  </div>

  <!-- Header -->
  <header class="header">
    <div class="header-top bg-blue sm-text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <ul class="social-icons flat small m-0 mt-sm-15 mb-sm-10">
              <li><a href="#"><i class="fa fa-facebook text-white"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter text-white"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus text-white"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram text-white"></i></a></li>
              <li><a href="#"><i class="fa fa-pinterest text-white"></i></a></li>
            </ul>
          </div>
          <div class="col-md-9">
            <ul class="list-inline sm-text-center text-right mb-sm-20 pt-5">
              <li class="pl-10 pr-10">
                <div class="header-widget text-white">
                  <i class="fa fa-phone"></i> 123-456-789
               </div>
              </li>
              <li class="pl-10 pr-10">
                <div class="header-widget text-white">
                  <i class="fa fa-clock-o"></i> Mon-Fri 8:00 to 2:00
                </div>
              </li>
              <li class="pl-10 pr-10 mt-sm-15">
                <div class="header-widget text-white">
                  <i class="fa fa-envelope-o"></i> contact@yourdomain.com
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="header-nav">
      <div class="header-nav-wrapper navbar-scrolltofixed" data-bg-color="#fff">
        <div class="container">
          <div id="menuzord-right" class="menuzord blue">
            <a class="menuzord-brand" href="javascript:void(0)"><img src="http://placehold.it/180x37" alt=""></a>
            <ul class="menuzord-menu">
              <li class="active"><a href="#home">Home</a>
                <ul class="dropdown">
                  <li><a href="#">Multipage Layout</a>
                    <ul class="dropdown">
                      <li><a href="index-mp-layout1.html">Multipage Layout1</a></li>
                      <li><a href="index-mp-layout2.html">Multipage Layout2</a></li>
                      <li><a href="index-mp-layout3.html">Multipage Layout3</a></li>
                      <li><a href="index-mp-layout4.html">Multipage Layout4</a></li>
                      <li><a href="index-mp-layout5.html">Multipage Layout5</a></li>
                      <li><a href="index-mp-layout6.html">Multipage Layout6</a></li>
                      <li><a href="index-mp-layout7.html">Multipage Layout7</a></li>
                      <li><a href="index-mp-layout8.html">Multipage Layout8</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Singlepage Layout</a>
                    <ul class="dropdown">
                      <li><a href="index-sp-layout1.html">Singlepage Layout1</a></li>
                      <li><a href="index-sp-layout2.html">Singlepage Layout2</a></li>
                      <li><a href="index-sp-layout3.html">Singlepage Layout3</a></li>
                      <li><a href="index-sp-layout4.html">Singlepage Layout4</a></li>
                      <li><a href="index-sp-layout5.html">Singlepage Layout5</a></li>
                      <li><a href="index-sp-layout6.html">Singlepage Layout6</a></li>
                      <li><a href="index-sp-layout7.html">Singlepage Layout7</a></li>
                      <li><a href="index-sp-layout8.html">Singlepage Layout8</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Minimal Multipage</a>
                    <ul class="dropdown">
                      <li><a href="minimal-mp-layout1.html">Minimal Multipage1</a></li>
                      <li><a href="minimal-mp-layout2.html">Minimal Multipage2</a></li>
                      <li><a href="minimal-mp-layout3.html">Minimal Multipage3</a></li>
                      <li><a href="minimal-mp-layout4.html">Minimal Multipage4</a></li>
                      <li><a href="minimal-mp-layout5.html">Minimal Multipage5</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Minimal Singlepage</a>
                    <ul class="dropdown">
                      <li><a href="minimal-sp-layout1.html">Minimal Singlepage1</a></li>
                      <li><a href="minimal-sp-layout2.html">Minimal Singlepage2</a></li>
                      <li><a href="minimal-sp-layout3.html">Minimal Singlepage3</a></li>
                      <li><a href="minimal-sp-layout4.html">Minimal Singlepage4</a></li>
                      <li><a href="minimal-sp-layout5.html">Minimal Singlepage5</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li><a href="#">Doctors</a>
                <ul class="dropdown">
                  <li><a href="page-doctors1.html">Doctors Style1</a></li>
                  <li><a href="page-doctors2.html">Doctors Style2</a></li>
                  <li><a href="page-doctor-details.html">Doctors Details</a></li>
                </ul>
              </li>
              <li><a href="#">Pages</a>
                <ul class="dropdown">
                  <li><a href="#">About</a>
                    <ul class="dropdown">
                      <li><a href="page-about1.html">About Style1</a></li>
                      <li><a href="page-about2.html">About Style2</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Services</a>
                    <ul class="dropdown">
                      <li><a href="page-service1.html">Service Style1</a></li>
                      <li><a href="page-service2.html">Service Style2</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Pricing</a>
                    <ul class="dropdown">
                      <li><a href="page-pricing.html">Pricing Style1</a></li>
                      <li><a href="page-pricing2.html">Pricing Style2</a></li>
                    </ul>
                  </li>
                  <li><a href="page-appointment.html">Appointment</a></li>
                  <li><a href="#">Page with Sidebar</a>
                    <ul class="dropdown">
                      <li><a href="page-sidebar-right.html">Page Right Sidebar</a></li>
                      <li><a href="page-sidebar-left.html">Page Left Sidebar</a></li>
                    </ul>
                  </li>
                  <li><a href="page-404.html">Page 404</a></li>
                  <li><a href="page-coming-soon.html">Coming Soon</a></li>
                </ul>
              </li>
              <li><a href="#">News</a>
                <ul class="dropdown">
                  <li><a href="page-news-3column.html">News 3 Column</a></li>
                  <li><a href="page-news-2column.html">News 2 Column</a></li>
                  <li><a href="page-news-1column.html">News 1 Column</a></li>
                  <li><a href="page-news-details.html">News Details</a></li>
                  <li><a href="page-news-left-sideber.html">News Details Left Sideber</a></li>
                  <li><a href="page-news-right-sideber.html">News Details Right Sideber</a></li>
                </ul>
              </li>
              <li><a href="#">Contact</a>
                <ul class="dropdown">
                  <li><a href="page-contact1.html">Contact Style1</a></li>
                  <li><a href="page-contact2.html">Contact Style2</a></li>
                </ul>
              </li>
              <li><a href="shortcodes.html">Shortcodes</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Start main-content -->
  <div class="main-content">
    <!-- Section: inner-header -->
    <section class="inner-header divider layer-overlay overlay-white" data-bg-img="http://placehold.it/1920x1280">
      <div class="container pt-60 pb-60">
        <!-- Section Content -->
        <div class="section-content">
          <div class="row">
            <div class="col-md-12">
              <h3 class="header-title">News</h3>
              <ol class="breadcrumb mt-10 mb-0 white">
                <li><a href="#">Home</a></li>
                <li><a href="#">Pages</a></li>
                <li class="active"><strong>News</strong></li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Section: News -->
    <section class="pb-60">
      <div class="container pb-80 pt-60">
        <div class="section-content pt-30">
          <div class="row multi-row-clearfix blog-posts blog-style1">
            <div class="col-sm-8">
              <div class="blog-posts">
                {{#each model as |blog|}}
                <div class="col-xs-12 col-sm-12 col-md-6">
                  <article class="post clearfix maxwidth500">
                    <div class="col-md-12 p-0">
                      <div class="entry-header">
                        <div class="post-thumb">
                          <img src="http://placehold.it/360x200" alt="" class="img-responsive img-fullwidth">
                        </div>
                        <div class="entry-date">
                          25 <span>Dec</span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12 p-0">
                      <div class="entry-content pl-50 p-20 pt-30 pr-20 text-left">
                        <h5 class="entry-title pt-0"><a href="#">{{blog.title}}</a></h5>
                        <p>{{blog.content}}</p>
                        <div class="entry-meta pull-left mt-10">
                          <ul class="list-inline">
                            <li><i class="fa fa-thumbs-o-up mr-5"></i> 13</li>
                            <li><i class="fa fa-comments-o mr-5"></i> 43</li>
                          </ul>
                        </div>
                        <a class="text-blue mt-10 mb-0 pull-right" href="#">Read more <i class="fa fa-angle-double-right"></i></a>
                        <div class="clearfix"></div>
                      </div>
                    </div>
                  </article>
                </div>
                {{/each}}
                <div class="col-xs-12 col-sm-12 col-md-6">
                  <article class="post clearfix maxwidth500">
                    <div class="col-md-12 p-0">
                      <div class="entry-header">
                        <div class="post-thumb">
                          <img src="http://placehold.it/360x200" alt="" class="img-responsive img-fullwidth">
                        </div>
                        <div class="entry-date">
                          25 <span>Dec</span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12 p-0">
                      <div class="entry-content pl-50 p-20 pt-30 pr-20 text-left">
                        <h5 class="entry-title pt-0"><a href="#">Different types of stroke</a></h5>
                        <p>Lorem ipsum dolor adipisicing amet, consectetur sit elit. Aspernatur incidihil quo officia.</p>
                        <div class="entry-meta pull-left mt-10">
                          <ul class="list-inline">
                            <li><i class="fa fa-thumbs-o-up mr-5"></i> 13</li>
                            <li><i class="fa fa-comments-o mr-5"></i> 43</li>
                          </ul>
                        </div>
                        <a class="text-blue mt-10 mb-0 pull-right" href="#">Read more <i class="fa fa-angle-double-right"></i></a>
                        <div class="clearfix"></div>
                      </div>
                    </div>
                  </article>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6">
                  <article class="post clearfix maxwidth500">
                    <div class="col-md-12 p-0">
                      <div class="entry-header">
                        <div class="post-thumb">
                          <img src="http://placehold.it/360x200" alt="" class="img-responsive img-fullwidth">
                        </div>
                        <div class="entry-date">
                          25 <span>Dec</span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12 p-0">
                      <div class="entry-content pl-50 p-20 pt-30 pr-20 text-left">
                        <h5 class="entry-title pt-0"><a href="#">Different types of stroke</a></h5>
                        <p>Lorem ipsum dolor adipisicing amet, consectetur sit elit. Aspernatur incidihil quo officia.</p>
                        <div class="entry-meta pull-left mt-10">
                          <ul class="list-inline">
                            <li><i class="fa fa-thumbs-o-up mr-5"></i> 13</li>
                            <li><i class="fa fa-comments-o mr-5"></i> 43</li>
                          </ul>
                        </div>
                        <a class="text-blue mt-10 mb-0 pull-right" href="#">Read more <i class="fa fa-angle-double-right"></i></a>
                        <div class="clearfix"></div>
                      </div>
                    </div>
                  </article>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6">
                  <article class="post clearfix maxwidth500">
                    <div class="col-md-12 p-0">
                      <div class="entry-header">
                        <div class="post-thumb">
                          <img src="http://placehold.it/360x200" alt="" class="img-responsive img-fullwidth">
                        </div>
                        <div class="entry-date">
                          25 <span>Dec</span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12 p-0">
                      <div class="entry-content pl-50 p-20 pt-30 pr-20 text-left">
                        <h5 class="entry-title pt-0"><a href="#">Different types of stroke</a></h5>
                        <p>Lorem ipsum dolor adipisicing amet, consectetur sit elit. Aspernatur incidihil quo officia.</p>
                        <div class="entry-meta pull-left mt-10">
                          <ul class="list-inline">
                            <li><i class="fa fa-thumbs-o-up mr-5"></i> 13</li>
                            <li><i class="fa fa-comments-o mr-5"></i> 43</li>
                          </ul>
                        </div>
                        <a class="text-blue mt-10 mb-0 pull-right" href="#">Read more <i class="fa fa-angle-double-right"></i></a>
                        <div class="clearfix"></div>
                      </div>
                    </div>
                  </article>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6">
                  <article class="post clearfix maxwidth500">
                    <div class="col-md-12 p-0">
                      <div class="entry-header">
                        <div class="post-thumb">
                          <img src="http://placehold.it/360x200" alt="" class="img-responsive img-fullwidth">
                        </div>
                        <div class="entry-date">
                          25 <span>Dec</span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12 p-0">
                      <div class="entry-content pl-50 p-20 pt-30 pr-20 text-left">
                        <h5 class="entry-title pt-0"><a href="#">Different types of stroke</a></h5>
                        <p>Lorem ipsum dolor adipisicing amet, consectetur sit elit. Aspernatur incidihil quo officia.</p>
                        <div class="entry-meta pull-left mt-10">
                          <ul class="list-inline">
                            <li><i class="fa fa-thumbs-o-up mr-5"></i> 13</li>
                            <li><i class="fa fa-comments-o mr-5"></i> 43</li>
                          </ul>
                        </div>
                        <a class="text-blue mt-10 mb-0 pull-right" href="#">Read more <i class="fa fa-angle-double-right"></i></a>
                        <div class="clearfix"></div>
                      </div>
                    </div>
                  </article>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6">
                  <article class="post clearfix maxwidth500">
                    <div class="col-md-12 p-0">
                      <div class="entry-header">
                        <div class="post-thumb">
                          <img src="http://placehold.it/360x200" alt="" class="img-responsive img-fullwidth">
                        </div>
                        <div class="entry-date">
                          25 <span>Dec</span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12 p-0">
                      <div class="entry-content pl-50 p-20 pt-30 pr-20 text-left">
                        <h5 class="entry-title pt-0"><a href="#">Different types of stroke</a></h5>
                        <p>Lorem ipsum dolor adipisicing amet, consectetur sit elit. Aspernatur incidihil quo officia.</p>
                        <div class="entry-meta pull-left mt-10">
                          <ul class="list-inline">
                            <li><i class="fa fa-thumbs-o-up mr-5"></i> 13</li>
                            <li><i class="fa fa-comments-o mr-5"></i> 43</li>
                          </ul>
                        </div>
                        <a class="text-blue mt-10 mb-0 pull-right" href="#">Read more <i class="fa fa-angle-double-right"></i></a>
                        <div class="clearfix"></div>
                      </div>
                    </div>
                  </article>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="sidebar mt-xs-30">
                <div class="sidebar-widget">
                  <div class="search-form pl-10">
                    <form>
                      <div class="input-group">
                        <input type="text" placeholder="Click to Search" class="form-control search-input">
                        <span class="input-group-btn">
                        <button type="submit" class="btn search-button"><i class="fa fa-search"></i></button>
                        </span>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="sidebar-widget p-15 pt-10">
                  <h4 class="text-blue title-border mb-20">Categories</h4>
                  <div class="categories">
                    <ul class="list angle-double-right">
                      <li><a href="#">Creative<span> (19)</span></a></li>
                      <li><a href="#">Portfolio<span> (21)</span></a></li>
                      <li><a href="#">Fitness<span> (15)</span></a></li>
                      <li><a href="#">Gym<span> (35)</span></a></li>
                      <li><a href="#">Personal<span> (16)</span></a></li>
                    </ul>
                  </div>
                </div>
                <div class="sidebar-widget p-15 pt-10">
                  <h4 class="text-blue title-border mb-20">Latest News</h4>
                  <div class="latest-posts">
                    <article class="post media-post clearfix pb-0 mb-10">
                      <a class="post-thumb" href="#"><img width="" src="http://placehold.it/75x75" alt=""></a>
                      <div class="post-right">
                        <h6 class="post-title mt-0 mb-0"><a href="#">Diabetes Patient Care</a></h6>
                        <p>Lorem ipsum dolor sit amet adipisicing elit...</p>
                      </div>
                    </article>
                    <article class="post media-post clearfix pb-0 mb-10">
                      <a class="post-thumb" href="#"><img width="" src="http://placehold.it/75x75" alt=""></a>
                      <div class="post-right">
                        <h6 class="post-title mt-0 mb-0"><a href="#">Dental Treatment</a></h6>
                        <p>Lorem ipsum dolor sit amet adipisicing elit...</p>
                      </div>
                    </article>
                    <article class="post media-post clearfix pb-0 mb-10">
                      <a class="post-thumb" href="#"><img width="" src="http://placehold.it/75x75" alt=""></a>
                      <div class="post-right">
                        <h6 class="post-title mt-0 mb-0"><a href="#">Open Heart Surgery</a></h6>
                        <p>Lorem ipsum dolor sit amet adipisicing elit...</p>
                      </div>
                    </article>
                  </div>
                </div>
                <div class="sidebar-widget p-15 pt-10">
                  <h4 class="text-blue title-border mb-20">Archive</h4>
                  <div class="categories">
                    <ul class="list angle-right">
                      <li><a href="#">January 2015<span> (19)</span></a></li>
                      <li><a href="#">March 2015<span> (21)</span></a></li>
                      <li><a href="#">April 2015<span> (15)</span></a></li>
                      <li><a href="#">June 2015<span> (35)</span></a></li>
                      <li><a href="#">July 2015<span> (16)</span></a></li>
                    </ul>
                  </div>
                </div>
                <div class="sidebar-widget p-15 pt-10">
                  <h4 class="text-blue title-border mb-20">Tags</h4>
                  <div class="tags">
                    <a href="#">travel</a>
                    <a href="#">blog</a>
                    <a href="#">lifestyle</a>
                    <a href="#">feature</a>
                    <a href="#">mountain</a>
                    <a href="#">design</a>
                    <a href="#">restaurant</a>
                    <a href="#">journey</a>
                    <a href="#">classic</a>
                    <a href="#">sunset</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- end main-content -->

  <!-- Footer -->
  <footer class="footer p-0 bg-solid-color bg-dark">
    <div class="container p-0">
      <div class="row">
        <div class="footer-top equal-height">
          <div class="col-sm-4" data-bg-color="#00a8c3">
            <div class="footer-box icon-box left media"> <a href="#" class="media-left pull-left"><i class=" icon-ambulance14 text-white"></i></a>
              <div class="media-body">
                <h4 class="media-heading heading title">24 Hours Service</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                <a href="#"><i class="fa fa-arrow-circle-right font-14"></i></a></p>
              </div>
            </div>
          </div>
          <div class="col-sm-4" data-bg-color="#078DA3">
            <div class="footer-box icon-box left media"> <a href="#" class="media-left pull-left"><i class="fa fa-comments-o text-white"></i></a>
              <div class="media-body">
                <h4 class="media-heading heading title">Online Help</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                <a href="#"><i class="fa fa-arrow-circle-right font-14"></i></a></p>
              </div>
            </div>
          </div>
          <div class="col-sm-4" data-bg-color="#0E7383">
            <div class="footer-box icon-box left media"> <a href="#" class="media-left pull-left"><i class=" fa fa-credit-card text-white"></i></a>
              <div class="media-body">
                <h4 class="media-heading heading title">Online Payment</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                <a href="#"><i class="fa fa-arrow-circle-right font-14"></i></a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row equal-height">
        <div class="col-sm-4 col-md-3 border-right">
          <div class="footer-widget pt-120 pb-30 pt-sm-6 maxwidth400 sm-text-center">
            <h4 class="text-white">Our Services</h4>
            <ul class="">
              <li><a href="#">Choosing a doctor</a></li>
              <li><a href="#">Take proper treatment</a></li>
              <li><a href="#">Discuss your doctor</a></li>
              <li><a href="#">Find medical error</a></li>
              <li><a href="#">Report progress condition</a></li>
              <li><a href="#">Primary medical care</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-4 col-md-6 text-center border-right">
          <div class="footer-widget pt-70 pl-60 pr-60 pl-sm-10 pr-sm-10 maxwidth400 sm-text-center">
            <div class="footer-logo">
              <img class="mb-20" src="http://placehold.it/200x41" alt="">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur exercitationem repellendus iusto quos, quasi dolorum hic cum voluptatibus, voluptas suscipit numquam quisquam!</p>
            </div>
            <div class="footer-news-letter mt-30">
              <h4 class="text-white mb-30">Subscribe Our Newsletter</h4>
              <form class="form-inline">
                <div class="form-group">
                  <input type="email" placeholder="Email" id="exampleInputEmail3" class="form-control newsletter-searchbox">
                </div>
                <button class="btn btn-default btn-white mt-0 mt-sm-15 mt-xs-0" type="submit">Sign in</button>
              </form>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-md-3">
          <div class="footer-widget pt-120 pb-140 pt-xs-60 text-right maxwidth400 sm-text-center">
            <h4 class="text-white">Quick Contact</h4>
            <ul class="list-divider font-12">
              <li><a href="#">121 King Street, Melbourne Victoria 3000 Australia</a></li>
              <li><a href="#">hello@yourdomain.com</a></li>
              <li><a href="#">+12 345 6789</a></li>
            </ul>
              <ul class="social-icons icon-brown small m-0 mt-20">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
              </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-nav bg-solid-color bg-gray">
      <div class="container pt-20 pb-20">
        <div class="row">
          <div class="col-md-12">
            <p class="font-11 pull-left mb-sm-15 sm-text-center sm-pull-none">Copyright &copy;2015 ThemeMascot. All Rights Reserved</p>
            <ul class="font-11 pull-right text-right list-inline sm-text-center sm-pull-none">
              <li><a href="#">Home</a></li>
              <li>/</li>
              <li><a href="#">Services</a></li>
              <li>/</li>
              <li><a href="#">About</a></li>
              <li>/</li>
              <li><a href="#">Doctors</a></li>
              <li>/</li>
              <li><a href="#">Pricing</a></li>
              <li>/</li>
              <li><a href="#">Faq</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
{{/page-wrapper}}
