{{#page-wrapper id="wrapper"}}
  <!-- preloader -->
  <div id="preloader">
    <div id="spinner"><img src="images/preloader.gif" alt=""></div>
  </div>

  <!-- Header -->
  <header class="header">
    <div class="header-middle sm-text-center">
      <div class="container pt-10 pb-15">
        <div class="row">
          <div class="col-md-3 pt-10">
            <a class="header-logo custom-header-logo" href="javascript:void(0)"><img width="200" alt="" src="images/gifing-logo.png"></a>
          </div>
          <div class="col-md-9">
            <ul class="list-inline pull-right sm-pull-none">
              <li class="mt-sm-30 text-left sm-text-center">
                <ul class="list-inline">
                  <li><i class="icon_mobile text-blue font-32 mt-5 sm-display-block"></i></li>
                  <li>
                    <a class="font-12 text-gray text-uppercase" href="#">Pozovite nas</a>
                    <h5 class="font-14 text-black m-0"> +381 (0) 21 526 526</h5>
                  </li>
                </ul>
              </li>
              <li class="ml-30 mt-sm-30 text-left sm-text-center">
                <ul class="list-inline">
                  <li><i class="fa fa-clock-o text-blue font-36 mt-5 sm-display-block"></i></li>
                  <li>
                    <a class="font-12 text-gray text-uppercase" href="#">Radno vreme</a>
                    <h5 class="font-13 text-black m-0"> Pon-Pet 07:00-18:00</h5>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="header-nav">
      <div class="header-nav-wrapper navbar-scrolltofixed" data-bg-color="#f5f5f5">
        <div class="container">
          <div id="menuzord" class="menuzord blue" data-bg-color="#f5f5f5">
            <ul class="menuzord-menu">
              <li class="active"><a href="index.html">Početna</a>
              </li>
              <li><a href="#">Pregledi</a>
                <ul class="dropdown">
                  <li><a href="nutricionisticki-program.html">Nutricionistički program</a></li>
                  <li><a href="metabolicki-program.html">Osnovni metabolički program</a></li>
                  <li><a href="intolerancija-na-hranu.html">Utvrđivanje intolerancije na hranu</a></li>
                  <li><a href="odredjivanje-sastava-tela.html">Određivanje sastava tela</a></li>
                </ul>
              </li>
              <li><a href="akcije.html">Akcije</a>
                  </li>

              <li><a href="#">Program dr Gifing</a>
                <ul class="dropdown">
                  <li><a href="o-nama.html">O nama</a></li>
                  <li><a href="nas-tim.html">Naš tim</a></li>
                  <li><a href="hrono-ishrana.html">Šta je hrono ishrana?</a></li>
                  <li><a href="knjige.html">Naše knjige</a></li>
                  <li><a href="proizvodi.html">Naši proizvodi</a></li>
                </ul>
              </li>
              <li><a href="http://blog.drgifing.net/" target="_blank">Blog</a></li>
              <li><a href="#">Kontakt</a>
                <ul class="dropdown">
                  <li><a href="kontakt.html">Pošaljite nam poruku</a></li>
                  <li><a href="zakazite-pregled.html">Zakažite pregled</a></li>
                </ul>
              </li>
              <li><a href="https://www.facebook.com/hrono.centar.novisad" target="_blank">Facebook</a></li>
            </ul>

          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Start main-content -->
  <div class="main-content">
    <!-- Section: home -->
    <section id="home" class="divider no-bg">
      <div class="container-fluid p-0">
        <div id="revolution-slider-fullwidth_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="concept1" style="background-color:#000000;padding:0px;">
          <!-- START REVOLUTION SLIDER 5.1.1RC fullscreen mode -->
          <div id="revolution-slider-fullwidth" class="rev_slider fullscreenbanner" style="display:none; height: 137px;" data-version="5.1.1RC">
            <ul>
              <li data-index="rs-1" data-transition="random" data-slotamount="7"  data-easein="default" data-easeout="default" data-masterspeed="1000"  data-thumb="http://placehold.it/1920x1280"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off"  data-title="Intro" data-description="">
                <img src="images/slider/slider1.jpg"  alt=""  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
              </li>

              <li data-index="rs-2" data-transition="random" data-slotamount="7"  data-easein="default" data-easeout="default" data-masterspeed="1000"  data-thumb="http://placehold.it/1920x1280"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off"  data-title="Intro" data-description="">
                <img src="images/slider/slider2.jpg"  alt=""  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
              </li>

              <li data-index="rs-3" data-transition="random" data-slotamount="7"  data-easein="default" data-easeout="default" data-masterspeed="1000"  data-thumb="http://placehold.it/1920x1280"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off"  data-title="Intro" data-description="">
                <img src="images/slider/slider3.jpg"  alt=""  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
              </li>

              <li data-index="rs-4" data-transition="random" data-slotamount="7"  data-easein="default" data-easeout="default" data-masterspeed="1000"  data-thumb="http://placehold.it/1920x1280"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off"  data-title="Intro" data-description="">
                <img src="images/slider/slider4.jpg"  alt=""  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
              </li>

              <li data-index="rs-5" data-transition="random" data-slotamount="7"  data-easein="default" data-easeout="default" data-masterspeed="1000"  data-thumb="http://placehold.it/1920x1280"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off"  data-title="Intro" data-description="">
                <img src="images/slider/slider5.jpg"  alt=""  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
              </li>

              <li data-index="rs-6" data-transition="random" data-slotamount="7"  data-easein="default" data-easeout="default" data-masterspeed="1000"  data-thumb="http://placehold.it/1920x1280"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off"  data-title="Intro" data-description="">
                <img src="images/slider/slider6.jpg"  alt=""  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
              </li>

              <li data-index="rs-7" data-transition="random" data-slotamount="7"  data-easein="default" data-easeout="default" data-masterspeed="1000"  data-thumb="http://placehold.it/1920x1280"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off"  data-title="Intro" data-description="">
                <img src="images/slider/slider7.jpg"  alt=""  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
              </li>
            </ul>
            <div class="tp-bannertimer tp-top" style="height: 7px; background-color: rgba(0, 0, 0, 0.1);"></div>
          </div>
        </div>
      </div>
    </section>

    <!-- Section: Welcome -->
    <section id="about">
      <div class="container pb-0 pt-110">
        <div class="row">
          <div class="col-md-4 mb-sm-60">
            <div class="feature-icon-box p-30 bg-blue">
              <div class="feature-icon bg-blue">
                <i class="fa fa-heartbeat text-white font-30"></i>
              </div>
              <h6 class="text-uppercase text-white">Hrono centar Novi Sad</h6>
              <h4 class="text-uppercase text-white">Prvi pregled u centru</h4>
              <p class="text-white">Saznajte sve što vas zanima o vašem prvom pregledu u centru. Ovde možete videti osnovne informacije o testiranju i toku pregleda.</p>
              <a href="nutricionisticki-program.html" class="btn p-0 text-white mt-15 font-13">Više informacija <i class="fa fa-angle-double-right ml-5"></i></a>
            </div>
          </div>
          <div class="col-md-4 mb-sm-60">
            <div class="feature-icon-box p-30 bg-blue">
            <div class="feature-icon bg-blue">
                <i class="fa fa-user-md text-white font-30"></i>
              </div>
              <h6 class="text-uppercase text-white">Hrono centar Novi Sad</h6>
              <h4 class="text-uppercase text-white">Zakažite pregled</h4>
              <p class="text-white">Zakažite Vaš pregled u našem centru putem web sajta. Potvrda zakazivanja će se izvršiti telefonskim putem.</p>
              <a href="zakazite-pregled.html" class="btn p-0 text-white mt-15 font-13">Zakažite pregled <i class="fa fa-angle-double-right ml-5"></i></a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="feature-icon-box p-30 pb-20 bg-blue">
              <div class="feature-icon bg-blue">
                <i class="fa fa-clock-o text-white font-30"></i>
              </div>
              <h6 class="text-uppercase text-white">Hrono centar Novi Sad</h6>
              <h4 class="text-uppercase text-white">Radno vreme</h4>
              <div class="opening-hourse text-left">
                <ul class="list-unstyled text-white">
                  <li class="clearfix"> <span> Ponedeljak - Petak </span>
                    <div class="value"> 07.00 - 18.00 </div>
                  </li>
                  <li class="clearfix"> <span> Subota </span>
                    <div class="value"> 10.00 - 16.00 </div>
                  </li>
                  <li class="clearfix"> <span> Nedelja </span>
                    <div class="value"> Ne radimo </div>
                  </li>
                  <br>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Section: Services -->
    <section class="text-center">
      <div class="container pb-10">
        <div class="section-title icon-bg">
          <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
              <h2 class="font-playfair text-uppercase mt-0 mb-10">Hrono centar Novi Sad</h2>
              <img class="mb-10" src="images/title-icon.png" alt="">
              <p>Ordinacija dr Gifing (prvobitan naziv Anti Aging diagnostic Centar dr Gifing) <br>postoji od 2003. godine.</p>
            </div>
          </div>
        </div>
        <div class="section-content">
          <div class="row features-style1">
            <div class="col-sm-6">
              <div class="icon-box left media"> <a href="#" class="media-left pull-left"><i class="icon-dna20 text-blue"></i></a>
                <div class="media-body">
                  <h5 class="media-heading heading">Genetika <span class="text-highlight novo">Novo u Centru dr Gifing</span></h5>
                  <p>DNK program ishrane je najspecifičnija individualna metoda određivanja kompletnog plana ishrane i fizičke aktivnosti zasnovana na vašoj DNK analizi.</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="icon-box left media"> <a href="#" class="media-left pull-left"><i class="icon-mother19 text-blue"></i></a>
                <div class="media-body">
                  <h5 class="media-heading heading">Ishrana Trudnice</h5>
                  <p>Tokom trudnoće žena ne bi trebalo da dobije više od 12 kilograma, jer svaki kilogram viška može da prouzrokuje mnoge zdravstvene probleme.</p>
                  <br>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="icon-box left media"> <a href="#" class="media-left pull-left"><i class="icon-biology text-blue"></i></a>
                <div class="media-body">
                  <h5 class="media-heading heading">Bioidentični hormoni</h5>
                  <p>Naše telo proizvodi stotinu hormona. Oni regulišu sve životne funkcije, rast, srčani rad i disanje. Uslovljavaju da telo proizvodi energiju, da sagoreva masti.</p>
                  <br>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="icon-box left media"> <a href="#" class="media-left pull-left"><i class="icon-tablets9 text-blue"></i></a>
                <div class="media-body">
                  <h5 class="media-heading heading">Odvikavanje od pušenja</h5>
                  <p>Terapija za odvikavanje od pušenja radi se na najsavremenijem aparatu MORA Nova touch, koji je najnovija reč tehnike u oblasti medicinskog testiranja i terapije.</p>
                  <br>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="icon-box left media"> <a href="#" class="media-left pull-left"><i class="icon-testtube8 text-blue"></i></a>
                <div class="media-body">
                  <h5 class="media-heading heading">Test intolerancije</h5>
                  <p>Netolerancija prema određenim komponentama hrane može se pokazati u vidu mnogih zdravstvenih tegoba. </p>
                  <br>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="icon-box left media"> <a href="#" class="media-left pull-left"><i class="icon-family21 text-blue"></i></a>
                <div class="media-body">
                  <h5 class="media-heading heading">In Body</h5>
                  <p>InBody 720 je najsavremeniji medicinski analizator sastava tela i najpreciznija metoda, koja putem biorezonantnih talasa, daje razne procene.</p>
                  <br>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="icon-box left media"> <a href="#" class="media-left pull-left"><i class="icon-stethoscope10 text-blue"></i></a>
                <div class="media-body">
                  <h5 class="media-heading heading">Savetovanje</h5>
                  <p>Nakon pregleda, tim naših nutricionista je tu da vam odgovori na sva pitanja i nedoumice. Sa nama možete stupiti u kontakt telefonom ili e-mailom.</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="icon-box left media"> <a href="#" class="media-left pull-left"><i class="icon-human88 text-blue"></i></a>
                <div class="media-body">
                  <h5 class="media-heading heading">Sportska Medicina</h5>
                  <p>Svaki pojačani fizički kao i intelektualni rad iziskuje i pojačanu ishranu i rehidraciju.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Section: Specialities -->
    <section id="specialities" class="divider parallax layer-overlay overlay-white" data-bg-img="images/background/bg1.jpg">
      <div class="container pb-80">
      <div class="section-title icon-bg">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center">
            <h2 class="font-playfair text-uppercase mt-0 mb-10">Vrste pregleda</h2>
            <img alt="" src="images/title-icon.png" class="mb-10">
          </div>
        </div>
      </div>
      <div class="section-centent">
        <div class="row">
          <div class="col-md-12">
            <div class="services-tab" data-bg-color="#fff">
              <ul class="nav nav-tabs">
                <li class="active"><a href="#tab11" data-toggle="tab"><i class="icon-medical109"></i>Nutricionistički program <br></a></li>
                <li><a href="#tab12" data-toggle="tab"><i class="icon-medical51"></i>Osnovni metabolistički program</a></li>
                <li><a href="#tab13" data-toggle="tab"><i class="icon-medical50 "></i>Intolerancija na hranu</a></li>
                <li><a href="#tab14" data-toggle="tab"><i class="icon-science47 "></i>Određivanje sastava tela <br></a></li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane fade in active" id="tab11">
                  <div class="row">
                    <div class="col-md-5">
                      <div class="thumb">
                        <img class="img-fullwidth" src="images/other/nutricionista.jpg" alt="">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="service-content">
                        <h3 class="sub-title mb-0 mt-30">Vrsta pregleda</h3>
                        <h1 class="title mt-0">Nutricionistički program</h1>
                        <p>Ukoliko nemate zdravstvenih problema (povišeni holesterol, trigliceride, dijabetes neregulisanu hiperternziju, bolesti štitne žlezde…) za Vas je idealan ovaj program.</p>
                        <div class="row mt-30 mb-20">
                         <div class="col-xs-12">
                          <ul class="mt-10">
                            <li class="mb-10"><i class="fa fa-angle-double-right text-blue font-15"></i>&emsp;Merenje sastava tela na  aparatu InBody analizatoru</li>
                            <li class="mb-10"><i class="fa fa-angle-double-right text-blue font-15"></i>&emsp;Određivanje intolerancije na namirnice MORA NOVA TOUCH</li>
                            <li class="mb-10"><i class="fa fa-angle-double-right text-blue font-15"></i>&emsp;Razgovor sa nutricionistom</li>
                            <li class="mb-10"><i class="fa fa-angle-double-right text-blue font-15"></i>&emsp;Dobijanje plana ishrane za naredni mesec</li>
                            <li class="mb-10"><i class="fa fa-angle-double-right text-blue font-15"></i>&emsp;Mogućnost konsultovanja sa nutricionistom preko e-maila , telefona, skajpa.</li>
                          </ul>
                         </div>
                        </div>
                        <a class="btn btn-colored btn-blue" href="nutricionisticki-program.html">Više informacija</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="tab12">
                  <div class="row">
                    <div class="col-md-5">
                      <div class="thumb">
                        <img class="img-fullwidth" src="images/other/metabolizam.jpg" alt="">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="service-content">
                        <h3 class="sub-title mb-0 mt-30">Vrsta pregleda</h3>
                        <h1 class="title mt-0">Osnovni metabolički program</h1>
                        <p>	Ukoliko postoje zdravstveni problemi preporučujemo metaboličke preglede. Pregled se vrši kod  lekara i nutricioniste koji prate vaše napredovanje tokom ovog programa.</p>
                        <div class="row mt-30 mb-20">
                          <div class="col-xs-12">
                           <ul class="mt-10">
                             <li class="mb-10"><i class="fa fa-angle-double-right text-blue font-15"></i>&emsp;Merenje sastava tela na  aparatu InBody analizatoru</li>
                             <li class="mb-10"><i class="fa fa-angle-double-right text-blue font-15"></i>&emsp;Određivanje intolerancije na namirnice MORA NOVA TOUCH</li>
                             <li class="mb-10"><i class="fa fa-angle-double-right text-blue font-15"></i>&emsp;Razgovor sa nutricionistom</li>
                             <li class="mb-10"><i class="fa fa-angle-double-right text-blue font-15"></i>&emsp;Dobijanje plana ishrane za naredni mesec</li>
                             <li class="mb-10"><i class="fa fa-angle-double-right text-blue font-15"></i>&emsp;Mogućnost konsultovanja sa nutricionistom preko e-maila , telefona, skajpa.</li>
                           </ul>
                         </div>
                        </div>
                        <a class="btn btn-colored btn-blue" href="metabolicki-program.html">Više informacija</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="tab13">
                  <div class="row">
                    <div class="col-md-5">
                      <div class="thumb">
                        <img class="img-fullwidth" src="images/other/intolerancija.jpg" alt="">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="service-content">
                        <h3 class="sub-title mb-0 mt-30">Vrsta pregleda</h3>
                        <h1 class="title mt-0">Intolerancija na hranu</h1>
                        <p>	Intolerancija prema određenim komponentama namirnica može se manifestovati u vidu velikog broja zdravstvenih tegoba. To je rezultat stresa kome je organizam izložen unosom namirnica koje ne toleriše dobro.</p>
                        <br>
                        <p> Ukoliko duže vreme unosimo hranu kojom opterećujemo naš metabolizam, a time i organizam, javljaju se tegobe koje se mogu manifestovati kao umor, pospanost, gubitak koncentracije, gubitak energije i motivacije, glavobolje, nesanica, bolovi u mišićima ili zglobovima, tegobe sa varenjem, osećaj nadutosti ili prepunjenosti u stomaku, promene na koži, vrtoglavica, astma, depresija, hiperaktivnost, itd.</p>
                        <a class="btn btn-colored btn-blue" href="intolerancija-na-hranu.html">Više informacija</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="tab14">
                  <div class="row">
                    <div class="col-md-5">
                      <div class="thumb">
                        <img class="img-fullwidth" src="images/other/sastav-tela.jpg" alt="">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="service-content">
                        <h3 class="sub-title mb-0 mt-30">Vrsta pregleda</h3>
                        <h1 class="title mt-0">Određivanje sastava tela</h1>
                        <p>	InBody 720 je najsavremeniji medicinski analizator sastava tela i najpreciznija metoda, koja putem biorezonantnih talasa, daje tačnu procenu</p>
                        <div class="row mt-10 mb-10">
                         <div class="col-xs-12">
                          <ul class="mt-10">
                            <li class="mb-10"><i class="fa fa-angle-double-right text-blue font-15"></i>&emsp;Količine, raspodele i procenta masnog tkiva u organizmu</li>
                            <li class="mb-10"><i class="fa fa-angle-double-right text-blue font-15"></i>&emsp;Indeksa nagomilavanja visceralnih masnoća</li>
                            <li class="mb-10"><i class="fa fa-angle-double-right text-blue font-15"></i>&emsp;Razvijenosti, snage i težine mišićne mase</li>
                            <li class="mb-10"><i class="fa fa-angle-double-right text-blue font-15"></i>&emsp;Korekcije telesnog sastava</li>
                            <li class="mb-10"><i class="fa fa-angle-double-right text-blue font-15"></i>&emsp;Optimalne telesne mase</li>
                            <li class="mb-10"><i class="fa fa-angle-double-right text-blue font-15"></i>&emsp;Mineralnog sastava koštanog sistema</li>
                            <li class="mb-10"><i class="fa fa-angle-double-right text-blue font-15"></i>&emsp;Nivoa bazalnog metabolizma</li>
                            <li class="mb-10"><i class="fa fa-angle-double-right text-blue font-15"></i>&emsp;...</li>
                          </ul>
                         </div>
                        </div>
                        <a class="btn btn-colored btn-blue" href="odredjivanje-sastava-tela.html">Više informacija</a>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </section>

     <!-- Section: Testimonials -->
    <section class="divider p-60 pt-10 pb-70">
      <div class="container-fluid p-0">
        <div class="row">
          <div class="col-md-12 p-60 pb-40 pt-70">
            <div class="testimonial-carousel-3 owl-nav-top">
              <div class="item">
                <div class="comment">
                  <p>Ne postoje prave reči da opišu moje oduševljenje sa svima u centru dr Gifing, naročito sam zahvalna nutricionisti Đorđu Pejiću, kao i doktorki Miljani Lalić, bili su mi podrška kakvu nisam nikada imala, a kamoli očekivala!</p>
                </div>
                <div class="content mt-20">
                  <div class="patient-details text-right pull-right mr-20 mt-10">
                    <h5 class="author">Marija S</h5>
                    <h6 class="title">37 godina, profesor</h6>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="comment">
                  <p>Postati ponovo čovek nema cenu, tako da I ne znam koliko bih uopšte mogao da vrednujem rad ovih ljudi u centru. Spasli su mi sve što imam u životu, a najpre sam moj život.</p>
                </div>
                <div class="content mt-20">
                  <div class="patient-details text-right pull-right mr-20 mt-10">
                    <h5 class="author">Rade Janković</h5>
                    <h6 class="title">54 godine</h6>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="comment">
                  <p>Na svako pitanje koje bih uputila centru dr Gifing, dobijala sam odgovor u roku od 24 sata.</p>
                </div>
                <div class="content mt-20">
                  <div class="patient-details text-right pull-right mr-20 mt-10">
                    <h5 class="author">Ivana Stern</h5>
                    <h6 class="title">23 godine</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>
  <!-- end main-content -->

  <!-- Footer -->
  <footer class="footer p-0 bg-solid-color bg-dark">
    <div class="container p-0">
      <div class="row">
        <div class="footer-top equal-height">
          <div class="col-sm-4" data-bg-color="#00a8c3">
            <div class="footer-box icon-box left media"> <a href="#" class="media-left pull-left"><img class="logo-icon" src="images/logo-icon.png" alt="" /></a>
              <div class="media-body">
                <h4 class="media-heading heading title">Program ishrane dr Gifing</h4>
                <p>je patentiran 2007 godine, pod nazivom Hrono-nutricija dr Gifing.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4" data-bg-color="#0E7383">
            <div class="footer-box icon-box left media"> <a href="#" class="media-left pull-left"><i class=" fa fa-users text-white"></i></a>
              <div class="media-body">
                <h4 class="media-heading heading title">60 hiljada pacijenata</h4>
                <p>Više od 60.000 pacijenata je testirano u našem centru.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4" data-bg-color="#078DA3">
            <div class="footer-box icon-box left media"> <a href="zakazite-pregled.html" class="media-left pull-left"><i class="fa fa-comments-o text-white"></i></a>
              <div class="media-body">
                <h4 class="media-heading heading title">Online zakazivanje</h4>
                <p>Zakažite pregled online ili nas kontaktirajte u vezi bilo čega.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row equal-height">
        <div class="col-sm-4 col-md-3 border-right">
          <div class="footer-widget pt-50 pb-30 pt-sm-6 maxwidth400 sm-text-center">
            <h4 class="text-white">Naše usluge</h4>
            <ul class="">
              <li><a href="#">Nutricionistički program</a></li>
              <li><a href="#">Osnovni metabolički program</a></li>
              <li><a href="#">Intolerancija na hranu</a></li>
              <li><a href="#">Određivanje sastava tela</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-4 col-md-6 text-center border-right">
          <div class="footer-widget pt-50 pl-60 pr-60 pl-sm-10 pr-sm-10 maxwidth400 sm-text-center">
            <div class="footer-logo">
              <img class="mb-20" src="images/gifing-logo-white.png" alt="">
              <p>Ordinacija dr Gifing (prvobitan naziv Anti Aging diagnostic Centar dr Gifing) postoji od 2003. godine. Nastao je kao dijagnostički centar koji se bavio anti age medicinom, odnosno usporavanjem procesa starenja.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-md-3">
          <div class="footer-widget pt-50 pb-50 pt-xs-60 text-right maxwidth400 sm-text-center">
            <h4 class="text-white">Kontakt</h4>
            <ul class="list-divider font-12">
              <li><a href="#">Šafarikova 13, 21000 Novi Sad</a></li>
              <li><a href="#">info@drgifing.net</a></li>
              <li><a href="#">+381 (0) 21 526 526</a></li>
              <li><a href="#">+381 (0) 21 571 322</a></li>
              <li><a href="#">+381 (0) 65 3 526 526</a></li>
            </ul>
              <ul class="social-icons icon-brown small m-0 mt-20">
                <li><a href="https://www.facebook.com/hrono.centar.novisad/"><i class="fa fa-facebook"></i></a></li>
              </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-nav bg-solid-color bg-gray">
      <div class="container pt-20 pb-20">
        <div class="row">
          <div class="col-md-12">
            <p class="font-11 pull-left mb-sm-15 sm-text-center sm-pull-none">Copyright &copy;2016 Hrono Centar Novi Sad. All Rights Reserved</p>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
{{/page-wrapper}}
